body {
    display: block;
    text-align: center;
    margin: auto;
    background: url('./backgrounds/mixed-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    font: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-color: black;
}

.data-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 6rem; /* Padding of 6rem makes image center well for some reason on desktop, not for mobile */
    margin: 0rem;
}



.hero-data {
    font-size: 1rem;
    margin: auto;
}

.api-pull {
    justify-content: center;
    font-size: 1rem;
    border: 3px solid red;
    background-color: orange;
}

#pic-display {
    object-fit: contain; /* https://www.w3schools.com/css/css3_object-fit.asp Knowledge get */
    padding: 6rem; /* Padding of 6rem makes image center well for some reason pn desktop, not for mobile*/
    margin: 0rem;
    border: 3px solid green;
    background-color: navy;
}

.hero-stats {
    border: 3px solid purple;
    background-color: brown;
    display: flex;
    flex-direction: row;
}

.hero-stat-header {
    flex-direction: column;
    border: 4px solid gray;
}

ul {
    list-style: none;
}

.right-side {
    margin: auto;
    flex-direction: column;
}

#publisher-stat {
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 800px) {

    body {
        background-color: blueviolet; /* Here for testing  */
    }

    .data-container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0rem;
    }

    #pic-display {
        padding: 0rem;
        justify-content: space-around;
    }

    .hero-data {
        font-size: 2rem;
        margin: auto;
        padding: 0rem;
    }

    .api-pull {
        justify-content: center;
        font-size: 2rem;
    }

    .right-side {
        justify-content: center;
        flex-direction: row;
    }



}