@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    display: block;
    text-align: center;
    margin: auto;
    background: url('./backgrounds/default-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    color: silver;
    font-family: "Bangers", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: black;
    text-decoration: double;
    text-shadow: 2px 2px 4px black;
}


h3 {
    font-size: 4rem;
}

.main-title {
    border-radius: 30%;
    background: url('./backgrounds/red-bg.jpg');
    color: cyan;
    text-decoration: double;
    text-shadow: 2px 2px 4px black;
    box-shadow: 5px 5px 5px 5px black;
}

.publisher-header {
    box-shadow: 0 0 0 0 black;
}

img {
    scale: (0.8);
    transition: transform 0.5s;
}

.superhero-image { /* Discovered via https://www.shecodes.io/athena/36159-how-to-make-an-image-50-smaller-with-css
    Did not realize this was an AI website, I just google searched "How to make images smaller CSS" */
    transform: scale(0.5);
  }

.data-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transform: scale(0.7) translate(0px, -110px);
    align-items: flex-start;
}


.hero-history {
    font-size: 1rem;
    border-radius: 10%;
    border: 10px groove firebrick;
    box-shadow: 10px 10px 10px 10px black;
    background: url('./backgrounds/blue-bg.jpg');
    text-decoration: double;
    text-shadow: 2px 2px 4px black;
}

#hero-name-display {
    background: darkolivegreen;
    border: 8px groove darkblue;
    border-radius: 10%;
}

#first-appearance {
    background: maroon;
    border: 5px groove goldenrod;
    border-radius: 30%;
    font-size: 1.4rem;
}

.hero-card-full {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    transform: scale(0.6) translate(0px, -520px); /* Transform only: entire hero card shifts downward. Ugly design. Fixed with translate */
    align-self: center;
}

.card-top {
    font-size: 2rem;
    font: bolder;
}

#card-picture {
    object-fit: contain; /* https://www.w3schools.com/css/css3_object-fit.asp Knowledge get */
    background: navy;
    transform: scale(0.7);
}

#card-picture:hover {
    transform: scale(1.0);
}

h5 {
    visibility: hidden;
}

.card-bottom {
    flex-direction: column;
    font-size: 1.5rem;
}

#toggle-notice { 
    visibility: hidden;
}

.hero-stat-header {
    font-size: 2rem;
    
}

.right-side {
    flex-direction: column;
    justify-content: center;
}

.button-list {
    background: url('./backgrounds/orange-bg.jpg');
    border: 8px ridge darkblue;
    border-radius: 10%;
    box-shadow: 10px 10px 10px 10px black;
}   

.button-list button {
    visibility: hidden;
} 

button, input {
    padding: 2rem;
    margin: 2rem;
    font-size: 1rem;
    background-color: burlywood;
    font-family: "Bangers", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 35%;
    text-decoration: double;
    text-shadow: 2px 2px 4px firebrick;
}

input {
    font-size: 1.4rem;
}

#random-hero-button {
    visibility: visible;
}

input {
    background: silver;
    text-shadow: 2px 2px 2px black;
}

#publisher-logo {
    width: 50%;
    height: 50%;
    border-radius: 20%;
}

#publisher-logo:hover {
    transform: scale(1.2);
}

.previous-hero-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    transform: scale(0.7) translate(0px, -800px);
    margin-top: -10rem; /* Seems to not do much */
    background: url('./backgrounds/comic-dots-bg-blue.jpg');
    border-radius: 10%;
}

.previous-hero-list h1 {
    border: 7px dashed firebrick;
    background: crimson;
}

h5 {
    transform: translate(0px, -600px);
}

.previous-hero-list img:hover { /* Works with class, not ID for some reason */
    transform: scale(0.8)
    /* IDK what to put here */
}

#previous-hero {
    border: 20px groove black;
    border-radius: 10%;
}

/* Mobile design */


@media screen and (max-width: 800px) {

    body {
        transform: scale(0.9);
    }

    .data-container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        transform: scale(1.0)
    }

    #card-picture {
        justify-content: space-evenly;
        transform: scale(1.0);
    }

    button, input {
        font-size: 2rem;
    }

    .hero-history {
        font-size: 1.5rem;
        margin: auto;
    }

    .hero-card-full {
        justify-content: center;
        font-size: 1rem;
        transform: scale(0.7)
    }

    .card-bottom {
        font-size: 2.3rem;
    }

    .right-side {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        transform: scale(0.9)
    }

    #publisher-logo {
        transform: scale(0.9)
    }

    .previous-hero-list {
        flex-direction: column;
        flex-wrap: wrap-reverse;
        transform: scale(0.7);
    }

}

/* This allows the user prints their card only */

/* Googled how to do this: https://stackoverflow.com/a/2618980 */

@media print { 
    /* When the DOM calls the "Print" function, make everything invisible and make the hero card 
    take up entire page. Prints neat card 
    Currently, cuts off at bottom of page */
    body {
      visibility: hidden;
    }
    /* These elements become visible via DOM events, must specifically hide them */
    .right-side, #toggle-notice, .previous-hero-container {
        opacity: 0;
      }
    .hero-card-full {
      visibility: visible;
      position: fixed;
      transform: scale(0.6) translate(-100px, -100px);
    }

    #card-picture {
        transform: scale(1.0);
    }
  }