@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    display: block;
    text-align: center;
    margin: auto;
    background: url('./backgrounds/mixed-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: silver;
    font: bolder;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: black;
}

.superhero-image { /* Discovered via https://www.shecodes.io/athena/36159-how-to-make-an-image-50-smaller-with-css
    Did not realize this was an AI website, I just google searched "How to make images smaller CSS" */
    transform: scale(0.7);
  }

.data-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 6rem; /* Padding of 6rem makes image center well for some reason on desktop, not for mobile */
    margin: 0rem;
}



.hero-data {
    font-size: 1rem;
    margin: auto;
}

.api-pull {
    justify-content: center;
    font-size: 1rem;
    border: 4px solid red;
    background-color: orange;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#civilian-name-display, #alignment-stat {
    margin-bottom: 0rem;
}

#pic-display {
    object-fit: contain; /* https://www.w3schools.com/css/css3_object-fit.asp Knowledge get */
    padding: 0rem; /* Padding of 6rem makes image center well for some reason pn desktop, not for mobile*/
    margin: 0rem;
    border: 3px solid green;
    background-color: navy;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

img {
    border: 3px solid orange;
}

h5 {
    visibility: hidden;
}

.hero-stats {
    border: 3px solid silver;
    background-color: brown;
    flex-direction: column;
}

.hero-stat-header {
    border: 4px solid orange;
}

.hero-stat-items {
    border: 20px solid violet;
}

.right-side {
    margin: auto;
    flex-direction: column;
}

button, input {
    padding: 2rem;
    margin: 2rem;
    background-color: blue;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    border-radius: 35%;
    text-decoration-color: black;
}

input {
    background-color: antiquewhite;
}

#publisher-stat {
    width: 50%;
    height: 50%;
}

.previous-hero-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    transform: scale(0.7);

}

#previous-hero {
    border: 20px solid black;
}

@media screen and (max-width: 800px) {

    body {
        background-color: blueviolet; /* Here for testing  */
    }

    .data-container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0rem;
    }

    #pic-display {
        padding: 0rem;
        justify-content: space-around;
    }

    .hero-data {
        font-size: 2rem;
        margin: auto;
        padding: 0rem;
    }

    .api-pull {
        justify-content: center;
        font-size: 2rem;
    }

    .right-side {
        justify-content: center;
        flex-direction: row;
    }

    .previous-hero-list {
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }



}